:root{
    /* colors */
   --bg-primary: #E4E6EC;
   --bg-gradient: linear-gradient(to bottom, #FD317F 0%, #FD6535 100%);

   --color-primary: #FD317F;
   --color-secondary: #FD6535;

   --title-color: #131313;
   --description-color: #6F757F;
}
